#nav-bar-content {
    font-size: 13px;
    height: 80px;
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 3;
}

#responsive-navbar-nav {
    flex-grow: 3;
}

.navbar-light .navbar-toggler {
    z-index: 2;
}

#responsive-navbar-nav .navbar-nav .nav-item {
    color: rgb(22, 24, 25);
}

#responsive-navbar-nav .navbar-nav .nav-item:active,
#responsive-navbar-nav .navbar-nav .nav-item:focus {
    color: #2490ff;
}

.nav-bar-left-items {
    flex-grow: 2.5;
}

.nav-bar-right-items {
    flex-grow: 1.5;
    justify-content: flex-end;
}

.nav-bar-right-btn {
    flex-grow: 2;
    justify-content: flex-start;
}

.nav-bar-logo {
    flex-grow: 1;
    text-align: end;
}

.nav-bar-logo-img {
    height: auto;
    width: 120px;
}

#responsive-navbar-nav a {
    padding: 13px 7px;
}

.nav-bar-btn {
    border-radius: 25px;
    background-color: rgb(36, 144, 255);
    box-shadow: rgba(0, 0, 0, 0.3) 0px 2px 4px 0px;
    color: white;
    height: 28px;
    width: 142px;
    border: none;
}

.nav-bar-btn:hover {
    transition: box-shadow 0.25s ease 0s, background-color 0.25s ease-out 0s,
        color 0.25s ease-out 0s;
    background-color: rgb(0, 96, 167);
    outline: none;
}

.nav-bar-btn:focus-within {
    outline: none;
}

.login-btn {
    align-self: center;
}

.line {
    display: none;
}

@media (max-width: 991px) {
    #nav-bar-content {
        flex-wrap: nowrap;
        height: 60px;
    }

    .navbar-light .navbar-toggler {
        border: none;
        outline: none;
        font-size: 14px;
    }

    .toggle-btn:focus {
        outline: none;
    }

    .link-container {
        font-size: 16px;
        font-family: "Lato", sans-serif;
        background-color: white;
    }

    .nav-bar-left-items,
    .nav-bar-right-items,
    .nav-bar-right-btn {
        margin-left: 20px;
    }

    #responsive-navbar-nav {
        padding-top: 25px;
        position: fixed;
        width: 350px;
        height: 540px;
        right: 0;
        top: 0;
        border-left: 1px solid black;
        border-bottom: 1px solid black;
        z-index: 1;
    }

    .nav-bar-logo {
        text-align: center;
    }

    .nav-bar-logo-img {
        height: auto;
        width: 200px;
    }

    #nav-bar-content .isClose {
        background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNCAyNCIgd2lkdGg9IjI4IiBoZWlnaHQ9IjI4Ij48cGF0aCBkPSJNMTkgNi40MUwxNy41OSA1IDEyIDEwLjU5IDYuNDEgNSA1IDYuNDEgMTAuNTkgMTIgNSAxNy41OSA2LjQxIDE5IDEyIDEzLjQxIDE3LjU5IDE5IDE5IDE3LjU5IDEzLjQxIDEyeiIvPjxwYXRoIGQ9Ik0wIDBoMjR2MjRIMHoiIGZpbGw9Im5vbmUiLz48L3N2Zz4=");
        height: 28px;
        width: 28px;
        margin-right: 7px;
    }

    button.isClose > span {
        display: none;
    }

    .btn-item {
        font-size: 14px;
        font-family: "Lato", sans-serif;
    }

    .nav-bar-right-btn {
        margin: 0rem auto;
    }

    .line {
        display: block;
        width: 100%;
        color: black;
    }

    #auth-btn {
        flex-direction: row;
    }

    .signup-btn {
        margin-left: 20px;
    }

    .login-btn {
        margin: auto 20px;
        font-weight: bold;
    }
}