@import "./styleSheets/navbar.css";
@import "./styleSheets/imageCarousel.css";
@import "./styleSheets/programs/programs.css";
@import "./styleSheets/programs/filter.css";
@import "./styleSheets/programs/sort.css";
@import "./styleSheets/programs/programCardDeck.css";
@import "./styleSheets/programs/card.css";
@import "./styleSheets/footer/footer.css";
@import "./styleSheets/footer/footerNavBar.css";
@import "./styleSheets/footer/privacy.css";
@import "./styleSheets/footer/media.css";
@import "./styleSheets/imageLink.css";
@import "./styleSheets/footer/dropdownComponent.css";
@import "./styleSheets/footer/additionalInfo.css";
@import "./styleSheets/button.css";
@import "./styleSheets/programs/filterSortTabletMode";
@import "./styleSheets/programs/sortTabletMode.css";

body {
    font-family: Lato, sans-serif;
    background-color: #f7f8fa;
    position: relative;
}